---
    import Layout from '../../layouts/Layout.astro'
    import servicios from '../../servicios.json'

    export function getStaticPaths() {
	return servicios.map(({ id }) => {
		return { params: { id } }
	})
}
const {id} = Astro.params
const {title} = Astro.props


---

<Layout title={`Tajara - ${title}`}>
    <section>
        <div class="h-screen flex flex-col relative">
            <div class="flex-1 bg-secondaryLight h-90vh relative z-10 sm:flex- sm:z-0">
                
                
                        <!-- <h1>{title}</h1>
                        <img src={imagen} alt={title} /> -->
                  
                
            </div>
            <div class="flex-1 p-10 m-auto relative z-0"></div>
        </div>
    </section>
</Layout>