---
import { prefetch } from 'astro:prefetch'

interface Props {
    title: string,
    imagen:string,
    descripción: string[],
    subtitle:string,
    precios:string,
    link:string
  

}
const { title,subtitle, descripción,imagen,precios,link } = Astro.props 
---

<div class=" absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-20 bg-white max-w-max p-8 m-auto rounded-2xl flex flex-row shadow-2xl">
    <div class="info">
        <h1 class="text-5xl text-primaryDark m-5 mb-2 text-left font-medium">{title}</h1>
        <h2 class="text-lg text-secondaryDark ml-5 mb-2 font-medium">{subtitle}</h2>
           <div class="flex flex-row items-center">

           
         <div >
            {descripción.map(descrip =>{return <p class="text-lg text-secondaryDark m-5">{descrip}</p> })}
            
            <p class="text-lg text-secondaryDark m-5">{precios}</p>
            { link && <a href={link} class="">Más información</a>}

        </div>    
        <img src={imagen} alt={title} class="imagen"/>
       </div>
</div>
</div> 
<style>
    .info{
        width: 1300px;
        display: flex;
        flex-direction: column;
        
    }
    .imagen{
        width: 800px;
        height: 500px;
        border-radius: 15px;
    }
</style>